#
#	Project Settings
#
	APP=yassi
	APP_VER=0.9.6
	APP_DIR=/usr
	# tex2any is only required upon installation to a bindir with this tool,
	# to get additional help with 'info yassi'
	APP_REQUIRES=" awk bash grep sed"
	CFG_REQUIRES="texi2any"
#
#	Targets
#
	BINDIR=./configure
	DATADIR=docs/*jpg
	DOCDIR=docs/[A-Z]*
	INFODIR=docs/info/$APP.info
	MAN1DIR=docs/*.1
#
#	Preparations
#
	PREPARE[0]="texi2any -o docs/info/$APP.info --no-split docs/info/$APP.texi"
	PREPARE[1]="./configure --help | txt2man -P ${APP^^} -r \"$APP $APP_VER\" > docs/$APP.1 ; sed s,untitled,\"${APP^^}\",g -i docs/$APP.1"
	PRIOR[1]="which tuirc 1>/dev/zero 2>/dev/zero || git clone https://github.com/sri-arjuna/tui tui"
	PRIOR[2]="[ -d ./tui ] && cd tui && ./configure --prefix=${prefix} && (./make-install || make install) && cd .. "
#
#	Removals
#
	CLEAN[0]="docs/info/$APP.info"
	CLEAN[1]="docs/$APP.1"
#
#	Contact
#
	BUGS="erat.simon@gmail.com"
	ISSUE="https://github.com/sri-arjuna/yassi/issues"
	